.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header-content h1 {
  font-size: 44px;
  line-height: 1.4;
  font-weight: 300;
}
