.page-area {
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.trending {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  margin: 30px 0;
}
.pageTitle {
  text-align: center;
  padding-top: 20px;
  font-weight: 100;
  font-size: 32px;
}
